.experience {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;
  border-bottom: 1px solid var(--background-light);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.2rem;
}

.company {
  font-size: var(--text-md);
  font-weight: bold;
  i:hover {
    text-decoration: underline;
  }
}

.period,
.location {
  font-weight: 400;
}

.position {
  font-weight: bold;
  font-size: var(--text-md);
  background-image: linear-gradient(
    to right,
    rgb(0, 147, 233) 0%,
    rgb(126, 237, 224) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 100px;
}

.description {
  margin-top: 1.3rem;
  margin-bottom: 1.8rem;
  font-weight: 200;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
